body {
    color:white;
    background-color: black;
}

p {
    text-align: center;
    font-size: xx-large;
    font-style: initial;
}
figcaption {
    text-align: center;
}
body {
    text-align: center;
}