@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    color:white;
    background-color: black;
}

p {
    text-align: center;
    font-size: xx-large;
    font-style: initial;
}

.img {
    text-align: center;
    font-size: medium;
    font-style: initial;
}

.owners {
    text-align: center;
    font-size: 40px;
    font-family: "Lilita One", sans-serif;

    background: linear-gradient(45deg, #740e0e, #970000, #ff0000, #ff9793, #d69391, #ff0700, #6c0300);
    background-size: 400% 100%;
    animation: ani 10s linear infinite alternate;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes ani {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.vtwr {
    display:    block;
    text-align: center;
}

.xcl4ww {
    display: block;
    text-align: center;
}

.imgvtwr {
    display: block;
    text-align: center;
}

.imgxcl4ww {
    display: block;
    text-align: center;
}

.text2 {
    text-align: center;
    font-size: 40px;
    font-family: "Lilita One", sans-serif;

    background: linear-gradient(90deg, #9200d1, #a509e8, #81007f, #a500a3, #ff00fc, #ff9cfe, #81007f);
    background-size: 400% 100%;
    animation: ani 10s linear infinite alternate;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes ani {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.imgpepuh {
    display: block;
    text-align: center;
}

.imgjwnn {
    display: block;
    text-align: center;
}

.who-we-are {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.text3 {
    font-family: "Lilita One", sans-serif;
    background: black;
    font-size: 100px;
}